services:
  db:
    image: postgres
    restart: always
    environment: 
      POSTGRES_PASSWORD: mypassword 
      POSTGRES_USER: postgres 
      POSTGRES_DB: postgres
    ports: 
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/db_data
volumes:
  db_data:
